{% extends '../../store/base.html' %}
{% load static %}
{% block title %}Edit Details{% endblock %}
{% block content %}

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Edit details</h2>
           
            <form action="" method='POST'>
                {% if user_form.errors %}
                <div class="alert alert-primary" role="alert">
                  Error: Username or Password not correct!
                </div>
                {% endif %}
                {% if user_form.is_valid %}
                <div class="alert alert-success" role="alert">
                  success: Details updated successfully!
                </div>
                {% endif %}
                {% csrf_token %}

             
                <div class="mb-3">
                  <label for="" class="form-label">{{ user_form.user_name.label }}</label>
                  {{ user_form.user_name }}      
                </div>

                <div class="mb-3">
                  <label for="" class="form-label">{{ user_form.email.label }}</label>
                  {{ user_form.email }}
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">{{ user_form.first_name.label }}</label>
                    {{ user_form.first_name }}
                  </div>
                
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
{% endblock %}