{% extends '../../store/base.html' %} 
{% load static %} 
{% block title%}Reset Password{% endblock %} 
{% block content %}
{% if request.user.is_authentiacted %}
<script>
  window.location.href='{% url "account:dashboard" %}'
</script>
{% endif %}
<h1>forget password</h1>
<form method="post" action="{% url 'account:pwdreset' %}">
  {% csrf_token %}

              {% if form.errors %}
              <div class="alert alert-primary" role="alert">
                Error: please try again!
              </div>
              {% endif %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">{{ form.email.label }}</label>
                  {{ form.email }}      
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
</form>

{% endblock %}
